@import '../../root.scss';

.employeePage {
  .wrapper {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: flex-start;
  }

  .feedback {
    display: flex;
    flex-direction: column;
    width: 100%;
    // align-items: flex-start;
    gap: 30px;
  }
}
