@import '../../root.scss';

.header {
  padding: 10px;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
